<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCSU Schedule Optimizer</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
	<div></div>
        <h1>🦉 SCSU Schedule Optimizer 🦉</h1>

        <form action="/" method="get">
            <input type="text" placeholder="Enter a year" name="year">
            <button type="submit">Search</button>
	    <a type="submit" href="mailto:">Email</a>
        </form>

        <h2> <%= year %></h2>
    </header>

    <div class="calendarContainer">
        <% for(let month = 0;month < calendar.length;month++) { %>
        <div class="monthContainer" id="<%= months[month] %>">
            <h3 style="text-align: center;"> <%= months[month] %> </h3>
            <div class="dayOfWeek">
                <span>Sunday</span><span>Monday</span><span>Tuesday</span><span>
                    Wednesday</span><span>Thursday</span><span>Friday</span><span>Saturday</span>
            </div>
            <% for(let x = 0;x < calendar[month].length;x++) { %>
            <div class="days">
                <% for(let y = 0;y < calendar[month][x].length;y++) { %>
                <div class="date">
                    <div id="<%=calendar[month][x][y] %>">
                        <%= calendar[month][x][y] %>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
</body>
</html>
